<div class="row margin-top-40">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Atualizar exame
      </div>
      <div class="card-body padding-16">
        <div class="row">
          <div class="col-12">
            <div class="float-end">
              <button type="button" class="btn btn-success" [disabled]="!form.valid"
                (click)="updateClick()">Atualizar</button>
              <a class="btn btn-outline-primary margin-left-8" [routerLink]="'/exam/home'">Voltar</a>
            </div>
          </div>
        </div>
        <div class="row margin-top-16 margin-bottom-16">
          <div class="col-12">
            <form [formGroup]="form" novalidate>
              <div class="row">
                <div class="col-4">
                  <label for="name">Código</label>
                  <input formControlName="id" type="number" class="form-control" autocomplete="off" placeholder="Código"
                    [attr.disabled]="true">
                </div>
                <div class="col-4">
                  <label for="name">Nome</label>
                  <input formControlName="name" type="text" class="form-control" autocomplete="off" placeholder="Nome">
                </div>
                <div class="col-4">
                  <label for="type">Tipo</label>
                  <select formControlName="type" class="form-control" autocomplete="off" placeholder="Tipo">
                    <option value="1">Análises clínicas</option>
                    <option value="2">Imagem</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<app-manage-lab (labsSelected)="labsSelectedEmit($event)" [registeredLabs]="registeredLabs"></app-manage-lab>